<section class="wrapper">
    <div class="content">
        <header>
            <h1>Login</h1>
        </header>
        <section>
            <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="input-group">
                    <label for="username">Email</label>
                    <input type="text" formControlName="email" placeholder="Email" name="email" id="email" [class.is-invalid]="emailInvalid" />
                    <small *ngIf="emailInvalid" class="text-danger">
            Ingrese email valido
          </small>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" placeholder="Password" name="password" id="password" />
                    <small *ngIf="passwordInvalid" class="text-danger">
            Ingrese un password
          </small>
                    <label><input
              [(ngModel)]="remember"
              type="checkbox"
              formControlName="remember"
              name="remember"
              id=""
            />Mantenerse conectado</label
          >
        </div>
        <div class="input-group"><button type="submit">Login</button></div>
      </form>
    </section>
  </div>
</section>
