<header>
    <img routerLink="home" src="./assets/logo_full_color.svg " alt="LogoWolox " class="logo" />

    <nav>
        <ul class="navbar">
            <li>
                <a routerLink="home"><strong>Inicio</strong> </a>
            </li>
            <li>
                <a href="#benefits"> <strong>Beneficios</strong> </a>
            </li>
            <li>
                <a routerLink="techs"> <strong>Tecnologias</strong> </a>
            </li>
            <li class="cta">
                <button routerLink="login"><strong>Login</strong></button>
            </li>
        </ul>
    </nav>
</header>
