<header>
    <img routerLink="home" src="./assets/logo_full_color.svg " alt="LogoWolox " class="logo" />

    <nav>
        <ul class="navbar">
            <li>
                <a id="homeBoton" routerLink="home"><strong>Inicio</strong> </a>
            </li>
            <li>
                <a (click)="scroll()" id="linkbenefits">
                    <strong>Beneficios</strong>
                </a>
            </li>
            <li>
                <a routerLink="techs"> <strong>Tecnologias</strong> </a>
            </li>
            <li class="cta" *ngIf="loginService.verify; else showLogin">
                <button (click)="onLogout()">
          <strong>Log Out</strong>
        </button>
            </li>
            <ng-template #showLogin>
                <li class="cta">
                    <button routerLink="login">
            <strong>Login</strong>
          </button>
                </li>
            </ng-template>
        </ul>
    </nav>
</header>
