<div class="header">
    <div>
        <p>
            Bienvenido a tu <strong>Entrevista Técnica</strong> en
            <strong style="color: #97cf00">Wolox</strong>
        </p>
    </div>

    <img src="./assets/Img Hero/Ic_ilustra_Hero.png" alt="imagenHero" class="imagenHeader" />
</div>

<div class="home">
    <div class="imgWoloxer">
        <img src="./assets/img_woloxer.png " alt="imagenWoloxer" />

        <div class="textImg">
            <p>
                <strong style="color: #97cf00">350 +</strong>
                <strong style="color: #44c4ec"> Woloxers</strong>
            </p>
            <p id="text" style="color: white">@Wolox</p>
            <button class="follow-button">Siguenos</button>
        </div>
    </div>

    <div class="textWoloxer">
        <p>
            Trabajamos para <strong style="color: #44c4ec"> convertir</strong>
            <strong style="color: #97cf00"> ideas</strong> en productos
        </p>
    </div>
</div>

<h3 class="benefits-title">
    Entre los beneficios que ofrecemos se encuentran
    <strong style="color: dodgerblue"> ;) </strong>
</h3>
