<div class="header">
    <div>
        <p>
            Bienvenido a tu <strong>Entrevista Técnica</strong> en
            <strong style="color: #97cf00">Wolox</strong>
        </p>
    </div>

    <img src="./assets/Img Hero/Ic_ilustra_Hero.png" alt="imagenHero" class="imagenHeader" />
</div>

<div class="home">
    <div class="imgWoloxer">
        <img src="./assets/img_woloxer.png " alt="imagenWoloxer" />

        <div class="textImg">
            <p id="text">
                <strong style="color: #97cf00">350 +</strong>
                <strong style="color: #44c4ec"> Woloxers</strong>
            </p>
            <p id="text" style="color: white">
                <img src="../../../../assets/Twitter_blanco.png" alt="" class="twitterIcon" /> @Wolox
            </p>
            <button class="follow-button">Siguenos</button>
        </div>
    </div>

    <div>
        <p class="textWoloxer">
            Trabajamos para <strong style="color: #44c4ec"> convertir</strong>
            <strong style="color: #97cf00"> ideas</strong> en productos
        </p>
    </div>
</div>

<h3 class="benefits-subtitle">
    Entre los beneficios que ofrecemos se encuentran
    <strong style="color: #44c4ec"> &nbsp; ;) </strong>
</h3>

<div id="benefits" class="benefitsContent">
    <div class="benefits">
        <div class="bene">
            <img src="../../../../assets/Ic_Hour.svg" alt="" />
            <p>Flexibilidad Horaria</p>
        </div>

        <div class="bene">
            <img src="../../../../assets/Ic_HomeOffice.svg" alt="" />
            <p>Home Office</p>
        </div>

        <div class="bene">
            <img src="../../../../assets/Ic_Workshops.svg" alt="" />
            <p>Capacitaciones y Workshops</p>
        </div>

        <div class="bene">
            <img src="../../../../assets/Ic_DrinkSnacks.svg" alt="" />
            <p>Snacks, frutas y bebidas gratis</p>
        </div>

        <div class="bene">
            <img src="../../../../assets/Ic_laptop.svg" alt="" />
            <p>Semana Remota</p>
        </div>

        <div class="bene">
            <img src="../../../../assets/Ic_brain.svg" alt="" />
            <p>Trabajar en las ultimas tecnoloías</p>
        </div>
    </div>
</div>
