<footer>
    <hr />
    <div class="footer">
        <div class="title">
            <h2>
                Gracias por
                <strong style="color: #44c4ec">completar el ejercicio</strong>
            </h2>
        </div>

        <div class="content">
            <p>Te invitamos a ver mas informacion</p>
        </div>

        <button><strong>Conocer más</strong></button>
    </div>
    <div class="logoFooter">
        <img src="./assets/Ic_Wolox_Footer.svg" alt="Logo Footer" />
    </div>
</footer>
