/*Search*/

.container {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}

.container .field-input {
    text-align: start;
}

.container .field-input input,
select {
    text-align: left;
    border-radius: 6rem;
    border: 1px solid #44c4ec;
    padding: 0.6rem 2rem 0.6rem 1rem;
    width: 12rem;
    transition: 0.5s;
    outline: none;
}

.container .field-input input:focus {
    outline: none;
}


/*Search */


/*Animate */

.animacion {
    /* animation: name time estado; */
    animation: animationIn 0.8s;
}

@keyframes animationIn {
    0% {
        transform: translateY(-3000px);
    }
    60% {
        transform: translateY(25px);
    }
    75% {
        transform: translateY(-10px);
    }
    90% {
        transform: translateY(5px);
    }
}


/*Animate */

body {
    font-family: "Monserrat", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: rgb(0, 0, 0);
}

section {
    display: flex;
    flex-flow: row wrap;
}

h2 {
    text-align: center;
}

P {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

H1 {
    font-family: "Monserrat", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 28px;
}

figure {
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

figure img {
    margin-top: 40px;
    height: 25%;
    width: 160px;
}

figure img:hover {
    opacity: 0.6;
    transition: all 0.3s linear;
}

.column {
    box-sizing: border-box;
    flex: 1 100%;
    justify-content: space-evenly;
    margin: 20px;
}

.card-style {
    background-color: #f3f3f3;
    border-radius: 12px;
    border-image-slice: 1;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    transition: all 0.25s linear;
}

.card-style:hover {
    box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
}

.card-text {
    padding: 20px;
}

@media (min-width: 500px) {
    .column {
        flex: 0 0 calc(100% / 2 - 40px);
    }
}

@media (min-width: 900px) {
    .column {
        flex: 0 0 calc(100% / 4 - 40px);
    }
}


/* loading */

.overlay {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.6);
    cursor: default;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
