<div class="overlay" *ngIf="!load">
    <div class="spinner">
        <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />
    </div>
</div>

<body *ngIf="load">
    <div class="container">
        <div class="field-input">
            <input class="searchTerm" autofocus type="search" placeholder="Search...." name="searchTechs" [(ngModel)]="searchTechs" />

            <select name="sortDirection" [(ngModel)]="sortDirection">
        <option value="desc" active>Descendente</option>
        <option value="asc">Ascendente</option>
      </select>
        </div>
    </div>

    <section>
        <div class="column card-style animacion" *ngFor="
        let data of techsAll
          | search: searchTechs
          | orderName: ['tech', sortDirection]
      ">
            <figure>
                <img class="img" src="{{ data.logo }}" alt="image" />
            </figure>
            <div class="card-text">
                <h1>{{ data.tech }}</h1>
                <div class="ellipsis">
                    <p>Autor: {{ data.author }}</p>
                    <p>Lenguaje: {{ data.language }}</p>
                    <p>Licencia: {{ data.license }}</p>
                    <p>Tipo: {{ data.type }}</p>
                    <p>Año: {{ data.year }}</p>
                </div>
            </div>
        </div>
    </section>
    <h2>Tecnologias Mostradas: {{ techsService.numberTechs }}</h2>
</body>
